@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,700,900);

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.contents {
  margin: 0 auto;
  width: 1100px;
  font-family: Lato;
}
/* HEADER CSS */

header {
  background-color: #fff;
  padding: 15px 0;
  position: fixed;
  top: 0;  
  width: 100%;
  z-index: 10;
}

header .bolt {
  float: left;
  font-size: 40px;
  color: #c0c0c0;
}

.contact a {
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  float: right;
  padding: 14px 12px;
  text-align: center;
  text-decoration: none;
}


/* DIV TITLE CSS */

.main_title {
  background-color: #f2f2f2;
  margin-top: 70px;
  padding-top: 250px;
  padding-bottom: 250px;
}

.title_letter {
  text-align: center;
}
.title_letter h1 {
  color: #74cfae;
  font-family: Raleway;
  font-size: 90px;
  font-weight: 700;
}

.sub_text {
  color: #c0c0c0;
  font-family: Raleway;
  font-size: 30px;
  margin-top: 20px;
}




/* SECTION CSS1 */

.section_contents {
  background-color: #74cfae;
  font-size: 0;
  padding-top: 50px;
}

.left_section {
  box-sizing: border-box;
  display: inline-block;
  width: 40%;
} 

.right_section {
  box-sizing: border-box;
  display: inline-block;
  padding-top: 30px;
  vertical-align: top;
  width: 60%;
}

.first_text {
  color: #fff;
  font-family: Raleway;
  font-size: 24px;
  margin-bottom: 35px;
  text-align: center;
}

.second_text {
  color: #fff;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}

/* ARTICLE CSS */

.article_contents {
  background-color: #f2f2f2;
  color: #333; 
  padding-top: 60px;
  padding-bottom: 70px;
  text-align: center;
  width: 100%;
}

.ourlatestwork {
  font-family: Raleway;
  font-size: 24px;
  margin-bottom: 40px;
}

.middle li {
  box-sizing: border-box;
  float: left;
  margin: 0 auto;
  opacity: 0.7;
  margin-left: 100px;
  margin-top: 80px;
}

.middle li:hover {
  opacity: 1;
  transition: 0.3s;
}

.middle li:nth-child(3n+1) {
  margin-left: 0;
}

.middle li:nth-child(-n+3) {
  margin-top: 0;
}

.middle img {
  vertical-align: top;
}

.bottom {
  padding-top: 90px;
}

.bottom p {
  display: inline-block;
  font-family: Raleway;
  line-height: 1.5;
  margin-right: 90px;
  width: 50%;
}

.email {
  display: inline-block;
  vertical-align: top;
}
.email a {
  background-color: #74cfae;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  padding: 14px 20px;
  text-decoration: none;
}


/* SECTION CSS 2 */

.section_content-second {
  background-color: #4e4e4e;
  color: #fff;
  padding-top: 70px;
  padding-bottom: 100px;
  width: 100%;
}

.ourskills {
  font-family: Raleway;
  font-size: 24px;
  margin-bottom: 70px; 
  text-align: center;
}

.section_box ul li {
  box-sizing: border-box;
  float: left;
  margin-left: 180px;
  text-align: center;
}

.section_box ul li:first-child {
  margin-left: 0;
}
.section_box p {
  font-size: 16px;
  margin-top: 10px;
}

/* NAV CSS */

.nav_contents {
  background-color: #f2f2f2;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  width: 100%; 
}


.box_nav i {
  background-color: #f2f2f2;
  box-sizing: border-box;
  color: #74cfae;
  list-style: none;
  font-size: 30px;
  padding: 20px 0;
  text-decoration: none;
  width: 185px;
}
.box_nav i:hover {
  background-color: #fff;
  transition: 0.3s;
}


/* FOOTER CSS */
footer {
  background-color: #74cfae;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 25px;
}

.footer_content {
  float: right;
}